extends layout 
 
block content 
  h1= title 
 
  form(id='languageForm', action="/resource/language", method="POST") 
    div.form-group 
        label.languageAttr(for='language_type') language type 
        input#Types(type='text', name='language_type') 
    div.form-group 
        label.languageAttr(for='NumberOfLang') NumberOfLang 
        input#size(type='text', name='size') 
    div.form-group 
        label.languageAttr(for='Data') Data 
        input#cost(type='number', name='Data') 
    input(type="submit") 
 
  script. 
    document.forms['languageForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 